/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: local("PT Sans"),
       url("../fonts/PTSans.woff2") format("woff2"),
       url("../fonts/PTSans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-style: normal;
  src: local("PT Sans Bold"),
       url("../fonts/PTSans-Bold.woff2") format("woff2"),
       url("../fonts/PTSans-Bold.woff") format("woff");
}


/* Variables */

:root {
  --black-text: #000000;
  --dark-grey-text: #333333;
  --basic-grey: #A9A9A9;
  --basic-light-grey: #EEEEEE;
  --basic-white: #FFFFFF;
  --basic-white-opaque: rgba(255, 255, 255, 0.3);
  --basic-back-opaque: rgba(0, 0, 0, 0.3);
  --blue-basic: #81B3D2;
  --blue-hover: #669EC0;
  --blue-click: #5496BD;
  --brown-basic: #766357;
  --brown-hover: #604E43;
  --brown-click: #503E33;
  --light-grey-background: #F2F2F2;
  --dark-grey-background: #EBEBEB;
  --grey-rating: #666666;
  --grey-arrow: #CACACA;
  --special-dark-brown: #231F20;
  --special-grey: #BDBBBC;
  --grey-border-focus: #E5E5E5;
  --footer-background: rgba(255, 255, 255, 0.9);
}


/* Global */

.page {
  height: 100%;
}

.page-body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--dark-grey-text);
  text-transform: uppercase;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  position: relative;
}

.inner-page {
  background-image: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  display: grid;
  margin-bottom: 28px;
}

.inner-page .main-header {
  margin-bottom: 0;
}

.main-header-bar {
  width: 1200px;
  margin: 0 auto;
}

.main-header-logo {
  position: absolute;
  left: 531px;
}

.welcome {
  text-align: center;
  width: 1200px;
  height: 509px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--blue-basic);
  background-image: url("../img/background-main.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome img {
  margin: 77px auto;
}

.welcome::after {
  content: url("../img/shape-for-background-main.svg");
  position: relative;
  left: 0;
  bottom: 59px;
}

.visually-hidden {
  visibility: hidden;
  height: 0;
  line-height: 0;
  font-size: 0;
  padding: 0;
}


/* Main navigation */

.main-navigation {
  position: relative;
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--black-text);
  background-color: var(--basic-white);
}

.site-navigation {
  display: flex;
  min-height: 56px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  min-width: 228px;
}

.site-navigation li:nth-child(2) ~ li {
  text-align: right;
}

.site-navigation li:first-child {
  margin-left: 72px;
}

.site-navigation li:last-child {
  margin-right: 72px;
}

.site-navigation li:nth-child(2) {
  margin-right: 144px;
}

.site-navigation a {
  text-decoration: none;
  color: var(--black-text);
}

.site-navigation a:hover {
  color: var(--blue-basic);
}

.site-navigation a:focus {
  color: var(--black-text);
  opacity: 0.3;
}

.site-navigation-current a {
  color: var(--brown-basic);
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Features */

.features {
  text-align: center;
}

.features strong {
  font-family: 'PT Sans Bold', Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: var(--black-text);
}

.features strong,
.features-intro {
  display: flex;
  line-height: 27px;
  justify-content: center;
  width: 520px;
  margin: 0 auto;
}

.features-intro {
  margin-top: 42px;
  margin-bottom: 52px;
}

.features-list,
.features-sub-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  background-color: var(--basic-light-grey);
  column-gap: 50px;
}

.feature-item-image {
  width: 800px;
  height: 256px;
}

.features-sub-list {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--dark-grey-text);
  background-color: var(--basic-white);
}

.feature-item-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 6px;
  width: 310px;
}

.features-sub-list li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  margin-bottom: 83px;
  min-height: 247px;
  width: 301px;
}

.bottom-feature {
  display: flex;
}

.bottom-feature .feature-item-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 auto;
  min-height: 208px;
  margin-top: 47px;
  width: 258px;
}


.feature-item:first-child {
  display: grid;
  grid-template-columns: 400px 800px;
}

.feature-item:nth-child(2) {
  display: grid;
  grid-template-columns: 800px 400px;
}

.feature-item:nth-child(3) {
  padding-left: 31px;
}

.feature-item:last-child {
  padding-right: 31px;
}

.feature-item h3,
.feature-sub-item h4 {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 22px;
  color: var(--black-text);
  width: 155px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.feature-item-text span {
  margin-bottom: 24px;
}

.bottom-feature h3 {
  margin-bottom: 24px;
}

.bottom-feature span {
  margin-bottom: 23px;
}

.feature-item-text p,
.feature-sub-item p {
  margin: 0;
  padding: 0;
}

.feature-item:first-child,
.feature-item:nth-child(2) {
  grid-column: 1 / -1;
  color: var(--basic-white);
  background-color: var(--blue-basic);
}

.feature-item:first-child h3,
.feature-item:nth-child(2) h3 {
  color: var(--basic-white);
}

.lodging::before {
  content: url("../img/icon-lodging.svg");
  margin-bottom: 20px;
}

.food::before {
  content: url("../img/icon-food.svg");
  margin-bottom: 21px;
}

.souvenirs::before {
  content: url("../img/icon-souvenirs.svg");
  margin-bottom: 20px;
}


/* Hotel search */

.hotel-search {
  text-align: center;
  background-color: var(--basic-white);
  margin-top: 59px;
}

.hotel-search-message p {
  display: flex;
  justify-content: center;
  width: 435px;
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 0;
  line-height: 24px;
}

.hotel-search strong {
  font-family: 'PT Sans Bold', Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: var(--black-text);
  padding-right: 11px;
}


/* Search Form Button */

.button {
  font-family: 'PT Sans Bold', Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.form-open {
  background-color: var(--brown-basic);
  width: 568px;
  height: 86px;
  margin-top: 11px;
  padding: 0;
}

.button:active {
  color: var(--basic-white-opaque);
}

.form-open:hover {
  background-color: var(--brown-hover);
}

.form-open:active {
  background-color: var(--brown-click);
}


/* Search Form */

.search-form {
  font-family: 'PT Sans Bold', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  min-width: 568px;
  color: var(--black-text);
  background-color: var(--basic-white);
  position: absolute;
  left: 50%;
  margin-left: -284px;
  box-shadow: 1px 1px 20px var(--basic-back-opaque);
}

.search-field {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr min-content;
  grid-template-columns: 1fr 1fr;
  column-gap: 0;
  margin: 0;
  border: 0;
  padding: 55px;
}

.search-field-date {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-field-people label {
  width: 112px;
  text-align: left;
}

.search-field p {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.search-field-people {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-field-kids label {
  width: 65px;
  margin-left: 50px;
}

.search-form input,
.form-calendar::placeholder {
  font: inherit;
  text-transform: uppercase;
  color: var(--black-text);
  background-color: var(--light-grey-background);
  border: 2px solid var(--light-grey-background);
}

.search-field-date input {
  width: 329px;
  height: 32px;
  padding-left: 7px;
  padding-right: 4px;
}

.form-calendar::placeholder {
  padding: 0px;
  margin: 0;
}

.search-form input:hover {
  background-color: var(--dark-grey-background);
  border: 2px solid var(--dark-grey-background);
}

.search-form input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--grey-border-focus);
}

.number-of-people-button {
  font: inherit;
  color: var(--basic-grey);
  background-color: var(--light-grey-background);
  border: 2px solid var(--light-grey-background);
}

.number-of-people-button:hover {
  color: var(--black-text);
}

.number-of-people-button:active {
  color: var(--blue-basic)
}

.form-calendar-button {
  position: absolute;
  right: 55px;
  border: 0;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-right: 9px;
  height: 38px;
  background-color: transparent;
  color: var(--basic-grey);
}

.form-calendar-button:focus,
.form-calendar-button:hover {
  color: var(--black-text);
}

.form-calendar-button:active {
  color: var(--blue-basic);
}

.form-number-of-people {
  height: 34px;
  min-width: 34px;
  padding: 0;
  text-align: center;
}

.number-of-people-button {
  font-size: 24px;
  height: 38px;
  width: 38px;
  padding: 0;
  border: 0;
}

.number-of-people-button svg {
  display: block;
  margin: auto;
}

.button-search {
  grid-column: 1 / -1;
  background-color: var(--blue-basic);
  padding: 0;
  min-height: 58px;
  margin-top: 26px;
}

.button-search:hover {
  background-color: var(--blue-hover);
}

.button-search:active {
  background-color: var(--blue-click);
}

/* Filters */

.filter {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 119px;
  padding-top: 26px;
  padding-bottom: 8px;
  background-image: url("../img/background-catalog.jpg");
  background-color: var(--blue-basic);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 9px;
}

.filter fieldset {
  border: 0;
  color: var(--basic-white);
}

.filter-by-infrastructure {
  grid-row: 1 / 3;
  margin: 0;
  margin-left: 72px;
  padding: 0;
}
.filter-by-type {
  grid-row: 1 / 3;
  margin: 0;
  padding: 0;
}

.filter-by-price {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: end;
  margin: 0;
  margin-right: 67px;
  padding: 0;
}

.filter legend {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 25px;
}

.filter-by-price legend {
  margin-bottom: 11px;
  margin-left: 2px;
}

.filter ul {
  list-style: none;
  line-height: 21px;
  padding-left: 39px;
  margin: 0;
}

.filter-by-type ul {
  padding-left: 42px;
}

.filter-option {
  margin-bottom: 25px;
}

.filter-checkbox input[type="checkbox"] {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.filter-number {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  width: 309px;
  height: 32px;
  margin-right: 6px;
  padding-left: 4px;
  text-align: center;
}

.filter input[type="number"] {
  background-color: transparent;
  color: var(--basic-white);
  border: 0;
  padding: 0;
  padding-left: 4px;
  width: 40px;
}

.filter-min-price,
.filter-max-price {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
}

.filter-min-price {
  border-right: 2px solid var(--basic-white);
  padding-left: 31px;
}

.filter-max-price {
  padding-left: 15px;
}

.filter-button {
  grid-column: 3 / -1;
  grid-row: 2 / 3;
  justify-self: end;
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  height: 36px;
  width: 137px;
  margin-right: 168px;
  margin-top: 31px;
}

.filter-button:hover {
  color: var(--black-text);
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.filter-result {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-left: 73px;
}


/* Catalog Sort */

.catalog-sort {
  display: grid;
  grid-template-columns: 200px 1fr max-content;
  column-gap: 20px;
  border-bottom: 1px solid var(--black-text);
  min-height: 77px;
}

.catalog-sort-items {
  display: flex;
  align-items: baseline;
  padding-top: 13px;
  padding-left: 16px;
}


.catalog-sort h2,
.catalog-sort-items a {
  font-size: 12px;
  line-height: 18px;
}

.catalog-sort h2 {
  margin-right: 40px;
}

.catalog-sort-items a {
  margin-right: 33px;
}

.sort-item {
  text-decoration: none;
  color: var(--basic-back-opaque);
  border-bottom: 1px dotted var(--blue-basic);
}

.sort-item:hover,
.sort-item:focus {
  color: var(--blue-basic);
}

.sort-item:active {
  color: var(--black-text);
  border: none;
}

.sort-item-current {
  text-decoration: none;
  color: var(--blue-basic);
}

.catalog-sort-buttons {
  display: flex;
  align-items: center;
  margin-right: 61px;
  padding-bottom: 3px;
}

.sort-button {
  text-decoration: none;
  color: var(--grey-arrow);
  margin-right: 12px;
}

.sort-button:hover,
.sort-button:focus {
  color: var(--black-text);
}

.sort-button-current,
.sort-button:active {
  color: var(--blue-basic);
}

/* Catalog Result */

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-list h3:hover,
.catalog-list h3:focus {
  color: var(--blue-basic);
}
.catalog-list h3:active {
  color: var(--basic-back-opaque);
}

.catalog-item {
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  column-gap: 29px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--grey-border-focus);
}

.catalog-item:last-child {
  padding-bottom: 22px;
}

.catalog-item-image {
  margin-left: 73px;
  margin-top: 6px;
}

.catalog-item-details {
  justify-self: start;
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 6px;
  grid-template-rows: 33px 20px 43px;
}

.catalog-item-name {
  grid-column: 1 / -1;
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.catalog-item-name h3 {
  margin: 0;
  padding: 0;
}

.catalog-item-rating {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 97px;
  margin-right: 72px;
  margin-top: 5px;
}

.catalog-button {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  padding: 3px 0 2px;
  margin-top: 15px;
  text-align: center;
}

.button-details {
  background-color: var(--blue-basic);
  width: 110px;
}

.button-details:hover,
.button-details:focus {
  background-color: var(--blue-hover);
}

.button-details:active {
  background-color: var(--blue-click);
  color: var(--basic-white-opaque);
  -webkit-text-stroke: 1px var(--basic-back-opaque);
}

.button-book {
  background-color: var(--brown-basic);
  width: 142px;
}

.button-book:hover,
.button-book:focus {
  background-color: var(--brown-hover);
}

.button-book:active {
  background-color: var(--brown-click);
  color: var(--basic-white-opaque);
}

.item-rating {
  background: var(--light-grey-background);
  color: var(--grey-rating);
  width: 110px;
  text-align: center;
  height: 27px;
  line-height: 27px;
  margin-top: 41px;
}

/* Blank Page */

.blank-page-message {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  margin: 100px;
}

/* Contacts */

.contacts-phone {
  text-decoration: none;
  color: inherit;
}

.footer-contacts {
  font-family: 'PT Sans Bold', Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-left: 73px;
}

.footer-contacts p {
  margin: 0;
  padding: 0;
}

.footer-contacts .hashtag {
  margin-bottom: 9px;
  margin-top: 23px;
}

/* Main footer */

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 120px;
  margin-bottom: 5px;
}

.inner-page .main-footer {
  /*bottom: -125px;*/
  position: relative;
  margin: 0;
  left: 0;
}

.main-footer .container {
  background-color: var(--footer-background);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 120px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-self: center;
  margin-left: 5px;
}

.footer-social ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}


/* Social button */

.social-buttons {
  color: inherit;
  background: var(--blue-basic);
  width: 46px;
  height: 48px;
  margin-right: 6px;
}

.social-button {
  text-decoration: none;
}

.twitter::before {
  content: url("../img/twitter.svg");
  position: relative;
  top: 16px;
  left: 3px;
}

.twitter:active::before {
  content: url("../img/twitter-active.svg");
  position: relative;
  top: 16px;
  left: 3px;
}

.facebook::before {
  content: url("../img/fb-icon.svg");
  position: relative;
  top: 13px;
  left: 2px;
}

.facebook:active::before {
  content: url("../img/fb-icon-active.svg");
  position: relative;
  top: 13px;
  left: 2px;
}

.youtube::before {
  content: url("../img/youtube.svg");
  position: relative;
  top: 16px;
  left: 2px;
}

.youtube:active:before {
  content: url("../img/youtube-active.svg");
  position: relative;
  top: 16px;
  left: 2px;
}

.social-buttons:hover {
  background-color: var(--blue-hover);
}

.social-buttons:active {
  background-color: var(--blue-click);
}


/* Copyright */

.footer-copyright {
  justify-self: end;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 37px;
  margin-right: 138px;
  margin-bottom: 34px;
}

.html-academy-logo {
  color: var(--special-dark-brown);
  margin-left: 8px;
}

.html-academy-logo:hover {
  color: var(--blue-basic);
}

.html-academy-logo:active {
  color: var(--special-grey);
}
